<html>
<meta http-equiv=”Content-Type” content=”text/html; charset=utf-8″>
  <head>
    {% if title %}
    <title>{{title}} - 邮件信息系统</title>
    {% else %}
    <title>邮件信息系统</title>
    {% endif %}
  </head>
  <body>
<center>
    <div> <h1>邮件收寄信息系统 </h1>
        </br>
        </br>
        </briii·>
        <a href="{{ url_for('index') }}">首页</a>
        {% if g.user.is_authenticated %}
        | <a href="{{ url_for('user', username=g.user.username) }}">个人信息</a>
        | <a href="{{ url_for('upload') }}">上传表格</a>
        {% if g.user.role == 1 %}
        | <a href="{{ url_for('all_posts') }}">所有上传</a>
        | <a href="{{ url_for('daily') }}">每日汇总</a>
        {% endif %}
        | <a href="{{ url_for('logout') }}">退出</a>
        {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</center>
</html>
